$text-dark-color: #343a40;
$text-light-color: whitesmoke;
$jumbotron-background: #f1f1f1;
$button-border-color: #696969;
$nav-link-color: red;
$fa-hover-color: #636363;
$col-text-color: #fefefe;
$box-shadow-color: #cccccc;